footer {
    color: #fff;
    background-color: #303238;
    padding: 1rem;
}

.col-md-6 {
    max-width: 50%;
}

.copyright {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

a {
    color: inherit;
}
