footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    padding: 20px;
    margin: 0 0;
    background-color: #0e0e0e;
    color: #fff;
    display: block;
    box-sizing: border-box;
}

.col-md-6 {
    max-width: 50%;
}

/* .container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */

.copyright {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

a {
    color: inherit;
}
