<div class="container">
  <h2 style="text-align:center;">Welcome to the Employee Entry Form</h2>
  <br />
  <div class="row">
    <div class="col col-lg-12">
      <h3>Add Employees to the Database</h3>
      <p>
        Navigate to the employee form -
        <a [routerLink]="['/employee/create']">Go to Employee Form.</a>
      </p>
      <p>Enter form data to add an entry.</p>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12">
      <h3>View the Already Existing Employees</h3>
      <p>
        Navigate to see all current employees -
        <a [routerLink]="['/employee/list']">Go to Employee List.</a>
      </p>
      <p>
        Use the button links on the table to see additional details, edit, or
        delete an entry.
      </p>
    </div>
  </div>
</div>
