
  <header>
    <h1 style="text-align: center;margin-top: auto; font-weight: 600; font-size: 40px;">Employee Data Entry Form</h1>
    <h4 style="text-align: center;">A demonstration of ASP.Net Core 2.2 and Angular 8</h4>
  </header>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add Employees to the Database</h4>
      <p class="card-text">
        Navigate to a from entry page to add employees to the database using the
        link provided below:
      </p>
      <a [routerLink]="['/employee/create']" class="card-link"
        >Go to the Employee Form Entry</a
      >
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">View List of Current Employees</h4>
      <p class="card-text">
        Navigate to see a list of all existing employees using the link provided
        below:
      </p>
      <a [routerLink]="['/emplyee/list']" class="card-link"
        >Go to the Employee List</a
      >
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col col-lg-12">
      <h3>Add Employees to the Database</h3>
      <p>
        Navigate to the employee form -
        <a [routerLink]="['/employee/create']">Go to Employee Form.</a>
      </p>
      <p>Enter form data to add an entry.</p>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12">
      <h3>View the Already Existing Employees</h3>
      <p>
        Navigate to see all current employees -
        <a [routerLink]="['/employee/list']">Go to Employee List.</a>
      </p>
      <p>
        Use the button links on the table to see additional details, edit, or
        delete an entry.
      </p>
    </div>
  </div>
-->
