<div class="container-fluid" style="margin-top: 25px;">
  <div class="row">
    <div class="col-md-3">
      <strong>Employee Name:</strong>
    </div>
    <div class="col-md-3">
      {{ employee?.name }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Employee Email:</strong>
    </div>
    <div class="col-md-3">
      {{ employee?.email }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Position:</strong>
    </div>
    <div class="col-md-3">
      {{ employee?.position }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Phone:</strong>
    </div>
    <div class="col-md-3">
      {{ employee?.phoneNumber }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Start Date:</strong>
    </div>
    <div class="col-md-3">
      {{ employee?.startDate | date: "MM/dd/yyyy" }}
    </div>
  </div>

  <button
    type="button"
    id="update"
    class="btn btn-sm btn-success"
    (click)="redirectToUpdatePage(employee.id)"
  >
    Update Info
  </button>

  <!-- <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="table-dark">
            <tr>
              <th>Employee Name</th>
              <th>Employee Email</th>
              <th>Start Date</th>
              <th>Position</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ employee?.name }}</td>
              <td>{{ employee?.email }}</td>
              <td>{{ employee?.startDate | date: "dd/MM/yyyy" }}</td>
              <td>{{ employee?.position }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
</div>
