footer {
    position: absolute;
    text-align: center;
    width: 100%;
    color: #fff;
    /* bottom: auto; */
}

.footer {
    /* background-color: lightgrey; */
    height: 60px;
    padding: 20px;
}
